<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Kemo/Desktop/Study/IDE's Workspace/the-internet-herokuapp">
        <classes>
            <class name="Tests.CheckBoxTest"/>
            <class name="Tests.HoverTest"/>
            <class name="Tests.LoginPageTest"/>
        </classes>
    </test>
</suite>
